<!DOCTYPE html>
<html>
	<head>
		<title>Diff View</title>
		<meta charset="utf-8">
		
		<#if filename?contains("/")>
			<link href="../css/style.css" rel="stylesheet">
		<#else>
			<link href="css/style.css" rel="stylesheet">
		</#if>
	</head>
	
	<body>
		<table>
			<#list diff?keys as key>
				<#if diff[key] == "SAME">
			    	<tr class="same"><td>${key}</td></tr>
			    <#elseif diff[key] == "DELETED">
			    	<tr class="deleted"><td>${key}</td></tr>
				<#elseif diff[key] == "ADDED">
					<tr class="added"><td>${key}</td></tr>
				<#elseif diff[key] == "RENAMED">
					<tr class="renamed"><td>${key} (RENAMED)</td></tr>
				<#else>
					<tr class="hidden"><td><pre>${diff[key]}</pre></td></tr>
				</#if>
			</#list>
		</table>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	</body>
</html>