<!DOCTYPE html>
<html>
	<head>
		<title>Diff View</title>
		<meta charset="utf-8">
		
		<link href="css/style.css" rel="stylesheet">
		<script src="js/script.js"></script>
	</head>
	
	<body>
		<h1>Diff View</h1>
		
		<div class="filtering">
			<form>
				<p>
					<label for="same-hide">Show files, that hasn't changed</label>
					<input type="checkbox" id="same-hide" name="same-hide" checked>
				</p>
				<p>
					<label for="added-hide">Show added files</label>
					<input type="checkbox" id="added-hide" name="added-hide" checked>
				</p>
				<p>
					<label for="deleted-hide">Show deleted files</label>
					<input type="checkbox" id="deleted-hide" name="deleted-hide" checked>
				</p>
				<p>
					<label for="renamed-hide">Show renamed files</label>
					<input type="checkbox" id="renamed-hide" name="renamed-hide" checked>
				</p>
				<p>
					<label for="diff-hide">Show files with diff</label>
					<input type="checkbox" id="diff-hide" name="diff-hide" checked>
				</p>

				<div class="clear"></div>
			</form>
		</div>
		<table>
			<#list diff?keys as key>
				<#if diff[key] == "SAME">
			    	<tr class="same"><td colspan="3">${key}</td></tr>
			    <#elseif diff[key] == "DELETED">
			    	<tr class="deleted"><td colspan="3">${key}</td></tr>
				<#elseif diff[key] == "ADDED">
					<tr class="added"><td colspan="3">${key}</td></tr>
				<#elseif diff[key] == "RENAMED">
					<tr class="renamed"><td colspan="3">${key} (RENAMED)</td></tr>
				<#else>
					<tr class="diff"><td>${diff[key]}</td><td>(${key})</td><td><a href="${key}-diff.html" target="_blank">DIFF</a></td></tr>
				</#if>
			</#list>
		</table>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
	</body>
</html>